In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

from config import db_password

/Users/luispsalazar/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# ONLY reading 100,000 rows

In [2]:
flightdata = pd.read_csv("Resources/flightdelay_data.csv", nrows = 100_000, low_memory = False)
flightdata.sample(5)

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
44281,1,1,0,1700-1759,8,3,13,181,Alaska Airlines Inc.,6023,...,7,Nashville International,36.127,-86.682,Seattle International,0.00,0.0,0.0,43.0,6.26
41250,1,1,0,1500-1559,4,3,47,76,SkyWest Airlines Inc.,18286,...,4,Stapleton International,39.774,-104.880,Dallas Fort Worth Regional,0.00,0.0,0.0,43.0,11.63
32113,1,2,0,1900-1959,5,4,22,157,Delta Air Lines Inc.,11956,...,17,Minneapolis-St Paul International,44.886,-93.218,John F. Kennedy International,0.00,0.0,0.0,53.0,4.92
23880,1,3,0,1500-1559,1,4,33,50,SkyWest Airlines Inc.,11956,...,18,Minneapolis-St Paul International,44.886,-93.218,Joe Foss Field,1.54,0.0,0.0,68.0,12.97
93887,1,6,0,1400-1459,1,4,54,129,Atlantic Southeast Airlines,14501,...,11,Houston Intercontinental,29.983,-95.340,McGhee Tyson,0.00,0.0,0.0,82.0,10.96

In [3]:
# Create DataFrame containing the "DEPARTING_AIRPORT", "LATTITUDE", AND "LONGITUDE" columns
flightdata_df = pd.DataFrame(data = flightdata, columns = ["DEPARTING_AIRPORT", "LATITUDE", "LONGITUDE"])

# Sort by "DEPARTING_AIRPORT" column
departing_df = flightdata_df.sort_values("DEPARTING_AIRPORT", ascending = True)
departing_df.sample(5)

                   DEPARTING_AIRPORT  LATITUDE  LONGITUDE
78699   Chicago O'Hare International    41.978    -87.906
19184            Logan International    42.364    -71.006
75114              Douglas Municipal    35.219    -80.936
60548  John F. Kennedy International    40.639    -73.777
63434            Logan International    42.364    -71.006

In [4]:
# Dropping duplicate rows from departing_df DataFrame
departing_df = departing_df.drop_duplicates()
departing_df

                       DEPARTING_AIRPORT  LATITUDE  LONGITUDE
88458  Albuquerque International Sunport    35.042   -106.606
28274            Anchorage International    61.169   -149.985
4310                   Atlanta Municipal    33.641    -84.427
9273    Austin - Bergstrom International    30.194    -97.670
96943                 Birmingham Airport    33.563    -86.756
...                                  ...       ...        ...
76731       Theodore Francis Green State    41.728    -71.426
46130               Tucson International    32.116   -110.941
4984                 Tulsa International    36.198    -95.890
52809    Washington Dulles International    38.942    -77.458
99897                  Will Rogers World    35.392    -97.602

[73 rows x 3 columns]

In [5]:
# Resetting the index in departing_df
departing_df = departing_df.reset_index(drop = True)
departing_df

                    DEPARTING_AIRPORT  LATITUDE  LONGITUDE
0   Albuquerque International Sunport    35.042   -106.606
1             Anchorage International    61.169   -149.985
2                   Atlanta Municipal    33.641    -84.427
3    Austin - Bergstrom International    30.194    -97.670
4                  Birmingham Airport    33.563    -86.756
..                                ...       ...        ...
68       Theodore Francis Green State    41.728    -71.426
69               Tucson International    32.116   -110.941
70                Tulsa International    36.198    -95.890
71    Washington Dulles International    38.942    -77.458
72                  Will Rogers World    35.392    -97.602

[73 rows x 3 columns]

In [6]:
# Dropping the "LATITUDE" and "LONGITUDE" columns from the input dataset
flightdata_droplatlng = flightdata.drop(columns = ["LATITUDE", "LONGITUDE"])
flightdata_droplatlng.head()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,FLT_ATTENDANTS_PER_PASS,GROUND_SERV_PER_PASS,PLANE_AGE,DEPARTING_AIRPORT,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,0.000062,0.000099,8,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91
1,1,7,0,0700-0759,7,1,29,191,Delta Air Lines Inc.,13056,...,0.000144,0.000149,3,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91
2,1,7,0,0600-0659,7,1,27,199,Delta Air Lines Inc.,13056,...,0.000144,0.000149,18,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91
3,1,7,0,0600-0659,9,1,27,180,Delta Air Lines Inc.,13056,...,0.000144,0.000149,2,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91
4,1,7,0,0001-0559,7,1,10,182,Spirit Air Lines,13056,...,0.000009,0.000125,1,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91

## Had to drop tables "airports" and "mergefiles" before running for second time

In [7]:
# Writing the input dataset without the "LATITUDE" and "LONGITUDE" columns to a csv file

flightdata_droplatlng.to_csv("Resources/flightdelay_nolatlng.csv", encoding = "utf-8", index = False)

In [8]:
# Connect to pgAdmin database & set up to write into db name "flightdelay"

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/flightdelay"
engine = create_engine(db_string)

# Writing "departing_df" containing the "DEPARTING_AIRPORTS"
# and their "LATITUDE" and "LONGITUDE" columns to "airports" table

departing_df.to_sql(name = 'airports', con = engine, if_exists = 'replace', method = 'multi', index = False)

In [9]:
# Writing "flightdelay_nolatlng.csv" to table "delaytable" into
# "Flightdelay_data-1" database.

rows_imported = 0
for data in pd.read_csv('Resources/flightdelay_nolatlng.csv', chunksize = 500_000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end = '')
    data.to_sql(name = 'delaytable', con = engine, method = 'multi', if_exists = 'append')
    rows_imported += len(data)

importing rows 0 to 100000...