In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import psycopg2

from config import db_password

/Users/luispsalazar/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# Create an engine instance

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/flightdelay"
engine = create_engine(db_string)

In [3]:
# Connect to PostgreSQL server

airports_from_PgAdmin = pd.read_sql("airports", con = engine);
airports_from_PgAdmin

                    DEPARTING_AIRPORT  LATITUDE  LONGITUDE
0   Albuquerque International Sunport    35.042   -106.606
1             Anchorage International    61.169   -149.985
2                   Atlanta Municipal    33.641    -84.427
3    Austin - Bergstrom International    30.194    -97.670
4                  Birmingham Airport    33.563    -86.756
..                                ...       ...        ...
68       Theodore Francis Green State    41.728    -71.426
69               Tucson International    32.116   -110.941
70                Tulsa International    36.198    -95.890
71    Washington Dulles International    38.942    -77.458
72                  Will Rogers World    35.392    -97.602

[73 rows x 3 columns]

In [4]:
# Read data from PostgreSQL database table

data = pd.read_sql("mergefiles", con = engine);
data

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND,LATITUDE,LONGITUDE
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91,36.080,-115.152
1,1,7,0,0700-0759,7,1,29,191,Delta Air Lines Inc.,13056,...,3,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91,36.080,-115.152
2,1,7,0,0600-0659,7,1,27,199,Delta Air Lines Inc.,13056,...,18,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91,36.080,-115.152
3,1,7,0,0600-0659,9,1,27,180,Delta Air Lines Inc.,13056,...,2,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91,36.080,-115.152
4,1,7,0,0001-0559,7,1,10,182,Spirit Air Lines,13056,...,1,McCarran International,NONE,0.0,0.0,0.0,65.0,2.91,36.080,-115.152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,1,7,0,1900-1959,3,2,7,76,"Midwest Airline, Inc.",3689,...,4,Indianapolis Muni/Weir Cook,Ronald Reagan Washington National,0.0,0.0,2.0,19.0,12.08,39.729,-86.282
199996,1,7,0,1300-1359,1,2,12,76,"Midwest Airline, Inc.",3689,...,11,Indianapolis Muni/Weir Cook,LaGuardia,0.0,0.0,2.0,19.0,12.08,39.729,-86.282
199997,1,7,1,1200-1259,3,2,5,44,American Eagle Airlines Inc.,3689,...,17,Indianapolis Muni/Weir Cook,LaGuardia,0.0,0.0,2.0,19.0,12.08,39.729,-86.282
199998,1,7,1,1200-1259,5,2,5,50,American Eagle Airlines Inc.,3689,...,14,Indianapolis Muni/Weir Cook,Miami International,0.0,0.0,2.0,19.0,12.08,39.729,-86.282
199999,1,7,1,1300-1359,4,2,12,143,Southwest Airlines Co.,3689,...,20,Indianapolis Muni/Weir Cook,Tampa International,0.0,0.0,2.0,19.0,12.08,39.729,-86.282